<section class="flex-col main">
  <h1>Privacy policy</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maxime totam soluta distinctio id. Nostrum, illum cum nam
    veniam deleniti delectus accusamus natus est consectetur adipisci corporis architecto. Alias, a?</p>
  <p>Iusto ad id vel reprehenderit assumenda libero consequatur at impedit nihil iste repudiandae adipisci magnam dolorem similique,
    accusantium maiores quibusdam perferendis culpa necessitatibus architecto officia. Magni dicta dolore nulla ipsam?</p>
  <p>Dolorem ea aperiam unde ratione modi vel voluptates facere voluptatibus a facilis, sint aspernatur. Minima quaerat similique
    modi molestiae cum. Nihil recusandae excepturi praesentium repellendus nam minima, amet sapiente totam?</p>
  <p>Nesciunt esse quibusdam cupiditate ex id, non deleniti illo nihil corrupti nobis doloremque blanditiis distinctio voluptatem
    quo placeat eaque tenetur laudantium laboriosam quis quam veritatis, unde fuga quia? Incidunt, laborum.</p>
  <p>At veritatis laboriosam temporibus quis culpa. Aliquam corrupti reiciendis eveniet nam consequatur incidunt quia. Sit repellendus
    illo fugit praesentium ab rerum dolorem aperiam tempore at corporis? Magnam nihil ipsam quia?</p>
</section>