/* header */
.header {
    align-items: center; /* because we are in flex-direction: row */

    border-top: 10px solid #0077FF;
    min-height: 40px;
    padding: 0 30px;
}
.header .row-1 {
    border-left: 4px solid #11CA93;
}
.crown {
    height: 21px;
    width: 24px;
    vertical-align: bottom;
    padding: 0 5px;
}