<section class="flex-col main">
  <h1>Terms &amp; conditions</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, cumque tempore incidunt doloribus sequi quas delectus
    veniam impedit. Adipisci neque voluptatem quas praesentium accusantium omnis? Amet et corporis deserunt porro.</p>
  <p>Officiis ab aliquid laborum, ad odit soluta dolorum asperiores quidem consequatur ratione obcaecati fuga magnam, necessitatibus,
    at provident sit tempore assumenda delectus animi non? Cumque beatae maxime incidunt. Exercitationem, aperiam?</p>
  <p>Voluptas iste nulla, sit et rerum iure eos provident atque? Fuga beatae, nam corrupti itaque placeat laboriosam maiores
    non perspiciatis mollitia maxime doloribus aliquam, sunt libero quibusdam, quod vitae illo.</p>
  <p>Debitis itaque natus, quod reiciendis totam voluptate ex! Velit natus nemo explicabo quod nam eligendi quos laboriosam
    repellat fuga eaque reiciendis est, mollitia possimus omnis, accusantium sunt pariatur maxime aut.</p>
  <p>Magnam corrupti sint praesentium sequi tenetur! Architecto laboriosam officia tempora. Neque, itaque odit libero illum
    inventore placeat nostrum tenetur aliquid eum! Magni, nemo ipsam distinctio aut optio illo libero quia?</p>
</section>