<section class="flex-col main">
  <h1>Cookies</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel saepe doloribus doloremque vitae rerum tempore repellat ut
    repudiandae rem dolor odio sequi omnis impedit architecto, quidem velit nemo quod sapiente.</p>
  <p>Ea exercitationem, impedit veritatis magnam ullam quis vero, voluptatem reprehenderit labore fugit quia, aliquam nulla
    officia veniam ipsam dolore nemo magni sapiente deleniti obcaecati ab architecto? Quidem necessitatibus voluptatum quod.</p>
  <p>Suscipit cupiditate autem eveniet error nostrum dolores consequuntur, architecto, quis, necessitatibus maiores repellendus
    aperiam deserunt. Veritatis, asperiores. Mollitia, deleniti. Suscipit maxime asperiores dicta unde voluptates ad excepturi
    nostrum debitis temporibus?</p>
  <p>Nemo quidem maxime officiis eos, saepe sapiente excepturi non delectus aut aperiam. Possimus, quam! Nisi odio temporibus,
    totam ab ratione saepe tempore aperiam, sapiente deleniti obcaecati ipsum, voluptatibus aspernatur odit!</p>
  <p>Reiciendis quod illum omnis, tempora eius, dolores provident in explicabo fugiat modi impedit expedita itaque incidunt
    ipsa laudantium inventore ipsam ut ducimus animi! Molestiae, quia reprehenderit ipsum at porro iusto?</p>
</section>